<form action="/file/upload" enctype="multipart/form-data" method="post">
    <input class="form-group" type="text" id="title" name="title">
    <input class="form-group" type="file" id="file" name="uf">
    <input class="form-group" type="submit" value="Upload">
</form>