<h1 class="display-4">Welcome to Our Class</h1>
<p class="mb-4">This is a Sails.js app for managing a class students</p>
<a href="/students/add" class="btn btn-primary">Add Student</a>
<a href="/students/list" class="btn btn-primary">Student's List</a>
